body {
  margin: 0;
}
#app-a328 {
  display: flex;
}
input[type=file]{
    display: none !important;
}
#app-a328 .wrapper {
  border: 1px solid #ccc;
}
#app-a328 .wrapper:first-child {
  margin-right: 20px;
  margin-left: 100px;
}
#app-a328 .title {
  padding: 8px 20px;
  background-color: #409efe;
  color: #fff;
  font-size: 14px;
  box-sizing: border-box;
}
#app-a328 .content {
  padding: 20px;
  box-sizing: border-box;
  max-height: 660px;
}
#app-a328 .content.scroll {
  overflow-y: scroll;
}
#app-a328 .content .phone-modal {
  border: 1px solid #ccc;
  min-width: 375px;
  min-height: 600.3px;
  position: relative;
}
#app-a328 .content .phone-modal .status-bar {
  width: 100%;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
#app-a328 .content .phone-modal .status-bar .status-bar-img {
  width: 100%;
  height: 100%;
}
#app-a328 .content .phone-modal .status-bar .time {
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 13px;
  top: 9px;
  transform: translateX(-50%);
}
#app-a328 .content .phone-modal .carousel-item {
  position: relative;
}
#app-a328 .content .phone-modal .carousel-item .name {
  position: absolute;
  bottom: 100px;
  left: 50% ;
  transform: translateX(-50%);
  font-size: 22px;
  color: #fff;
  font-weight: 300;
}
#app-a328 .content .phone-modal .mini-icon {
  width: 86px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 24px;
  z-index: 9;
}
#app-a328 .content .phone-modal .swiper .img {
  width: 100%;
  height: 520px;
}
#app-a328 .content .config {
  min-width: 360px;
  font-size: 13px;
}
#app-a328 .content .config .title-wrapper {
  display: flex;
  margin-bottom: 16px;
}
#app-a328 .content .config .title-wrapper .left {
  flex-shrink: 0;
  text-align: right;
  min-width: 65px;
}
#app-a328 .content .config .title-wrapper .left span {
  position: relative;
}
#app-a328 .content .config .title-wrapper .left span.required::after {
  content: '*';
  color: red;
  position: absolute;
  left: -10px;
  top: 1px;
}
#app-a328 .content .config .title-wrapper .right {
  margin-left: auto;
}
#app-a328 .content .config .config-list {
  margin-bottom: 10px;
}
#app-a328 .content .config .config-list .title-wrapper {
  align-items: center;
}
#app-a328 .content .config .config-list .title-wrapper:last-child {
  margin-bottom: 0;
}
#app-a328 .content .config .config-list .upload-wrapper {
  padding-left: 65px;
  margin-bottom: 16px;
}
#app-a328 .content .config .config-list .el-upload {
  width: 60px;
  height: 60px;
  line-height: 70px;
}
#app-a328 .content .config .config-list .item-image {
  width: 60px;
  height: 60px;
}
#app-a328 .content .config .config-list .list-item {
  border: 1px solid #ccc;
  padding: 14px;
  box-sizing: border-box;
  margin-bottom: 10px;
  position: relative;
}
#app-a328 .content .config .config-list .list-item:last-child {
  margin-bottom: 0;
}
#app-a328 .content .config .config-list .list-item .delete-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}
#app-a328 .content .config .config-list .list-item .switch {
  position: absolute;
  top: 10px;
  right: 50px;
}
#app-a328 .content .config .btn-group {
  text-align: center;
}
